# THEROTICAL QUESTIONS

1.**What are data structures, and why are they important?**

- Data structure is a way of storing and organising data so that it can be accessed and maipulated effeciently.
for example:-
string,list,set,tuple,dictionary,array
 Data structure are important because they help computers to process large amount of data effeciently and make code easier to understand.

2.  **Explain the difference between mutable and immutable data types with examples.**
- Mutable data types can be changed after creation, whereas immutable data types can't be changed after creation. i.e., you can add, remove, or modify the contents of a mutable data type but can't do the same with an immutable data type.
for example:-

In [ ]:
a = [1, 2, "orange"]
type (a)

list

In [ ]:
a. append ("asthha")

In [ ]:
a # the result are showing asthha is added

[1, 2, 'orange', 'asthha']

In [ ]:
a = (1,2, "orange")
type(a) # tuple cant be changed or modifeid beacause its a fixed value if we run a programme it will through and error

tuple

3. **What are the main differences between lists and tuples in Python?**
- The main difference between list and tuples is
**list**= is mutable that is it can be modified,add,remove the content
**tuples**= tuple is immutable because it has fixed contain or value

4.**Describe how dictionaries store data**?
- In Python, dictionaries are stored in memory as a hash table, which is an ordered array of ranges and their corresponding values. The algorithm used to store and access keys in a hash table is designed to be flexible and fast.
which stores the data in the form of key value pair.

In [ ]:
my_dict = {}
type(my_dict)

dict

In [ ]:
my_dict = {"dad": 1234, "mom": 5678, "bro": 9012}
my_dict

{'dad': 1234, 'mom': 5678, 'bro': 9012}

5**.Why might you use a set instead of a list in Python?**
- Sets are used to store multiple items in a single variable. Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List with different qualities and usage.
list is to perform common math operations like unions and intersections.

6**.What is a string in Python, and how is it different from a list?**
- A string is a sequence of characters between single or double quotes. A list is a sequence of items, where each item could be anything an integer, a float, a string, etc
where as,
A list a sequence of values which can be characters, integers or even another.

7.**How do tuples ensure data integrity in Python?**
- Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, guaranteeing data integrity and reliability. This immutability allows tuples to be used as keys in dictionaries and elements in sets.
the process of ensuring that data is accurate, complete, consistent, and valid throughout its lifecycle is integrity
thats why tuples have ensured the data integrity in python.

8.**What is a hash table, and how does it relate to dictionaries in Python?**
- A hash table is a data structure that stores key-value pairs in an array format, with each value having a unique index value. A hash function is used to compute the index value for each key.
A data structure that stores key-value pairs and is used to implement dictionaries.

9.**Can lists contain different data types in Python**
- Yes,a list can also contain a mix of Python types including strings, floats, and booleans.you  can also mix objects of different types within the same list, although list elements often share the same type.

In [ ]:
a = [1,3, "orange", 3.3] # list can contain(int, str, float, complex,)
type(a)

list

10. **Explain why strings are immutable in Python?**
- Python strings are "immutable" which means they cannot be changed after they are created. Since strings can't be changed, we construct *new* strings as we go to represent computed values.

11.**What advantages do dictionaries offer over lists for certain tasks?**
- A list can store any data type. In contrast, keys in the dictionary can be of any immutable data type, and values can be of any data type. Lists perform faster for ordered operations like sorting, while dictionaries perform faster for lookup operations.

12.**Describe a scenario where using a tuple would be preferable over a list?**
- Tuples are faster than lists. Tuples make the code safe from any accidental modification. If a data is needed in a program which is not supposed to be changed, then it is better to put it in 'tuples' than in 'list'.

13. **How do sets handle duplicate values in Python?**
- Items of a set in python are immutable (unchangeable), do not duplicate values, and unordered. Thus, items in a set do not appear in a stipulated manner, i.e., they can appear in a different order every time it is used. Due to this, set items cannot be referred to by key or index.
 Python is by converting the list to a set. Since sets cannot contain duplicates, converting a list to a set automatically removes any duplicate elements.

14**.How does the “in” keyword work differently for lists and dictionaries?**
- **LIST**
The in keyword is used to check if a value is present in a sequence (list, range, string etc.).
- **DICTIONARY**
The in operator for dictionaries ( dict ) checks for the presence of a key. Use the values() and items() methods to test for the presence of values or key-value pairs

In [ ]:
l = [0, 1, 2]
i = 0

if i in l:
    print(f'{i} is a member of {l}.')
else:
    print(f'{i} is not a member of {l}.')
# 0 is a member of [0, 1, 2].

0 is a member of [0, 1, 2].

15.**Can you modify the elements of a tuple? Explain why or why not?**
- No, you cannot modify the elements of a tuple in Python because tuples are "immutable," meaning once created, their elements cannot be changed, added, or removed; if you try to alter a tuple element, you will receive a TypeError error.

16.**What is a nested dictionary, and give an example of its use case?**
- A nested dictionary is a dictionary that contains other dictionaries, and is useful for representing data with multiple levels of organization. Here are some examples of use cases for nested dictionaries
**Employee records**: Organize employees by department, with each employee's details in a nested dictionary.
**Inventory systems**: Track product categories, subcategories, and individual product details.

In [ ]:
people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

print(people)

{1: {'name': 'John', 'age': '27', 'sex': 'Male'}, 2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

17.**Describe the time complexity of accessing elements in a dictionary?**
- The time complexity of inserting a new element into a Python dictionary is typically O(1). This means that the time taken to insert an element into a dictionary is constant, regardless of the size of the dictionary. This is because Python dictionaries use a hash table data structure, which allows for fast insertion, retrieval, and deletion of key-value pairs.

18. **In what situations are lists preferred over dictionaries?**
- Key Differences Between List and Dictionary in Python. A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key: value pair. Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.

19.**Why are dictionaries considered unordered, and how does that affect data retrieval?**
- Dictionaries are unordered. When we say that dictionaries are ordered, it means that the items have a defined order, and that order will not change. Unordered means that the items do not have a defined order, you cannot refer to an item by using an index.
because Python dictionaries are not intended to be in order, as simple as that.

20. **Explain the difference between a list and a dictionary in terms of data retrieval?**
- Locating, extracting, and presenting information from existing databases, data storage systems, or other data repositories. It implies using queries, filters, or search criteria to find and extract specific data from the storage systems.
**list**
use the len() function and square brackets [ ] to access data, with the first element at index 0. (See the official python.org list docs.) Assignment with an = on lists does not make a copy. Instead, assignment makes the two variables point to the one list in memory
**dictionary**
Each element in a dictionary is associated with a key that we can use to retrieve that element. Python dictionary get() is a built-in function that allows you to retrieve the value of an item associated with the specified key.

#PRACTICAL QUESTIONS

1. Write a code to create a string with your name and print it.

In [ ]:
a = ("Asthha")
a

'Asthha'

In [ ]:
type(a)

str

In [ ]:
print("asthha")

asthha

2. Write a code to find the length of the string "Hello World"

In [ ]:
len("hello world")

11

3. Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
string1 = "Python programming"
string1[0:3]

'Pyt'

4.Write a code to convert the string "hello" to uppercase

In [ ]:
text = "hello"
text.upper()

'HELLO'

5.Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
s = "I like apple"
s.replace("apple", "orange")

'I like orange'

6.Write a code to create a list with numbers 1 to 5 and print it

In [ ]:
numbers = [1, 2, 3, 4, 5] #create a list with the number 1 to 5
print(numbers)

[1, 2, 3, 4, 5]

6. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
number = [1, 2, 3, 4]
number.append(10)
print(number)

[1, 2, 3, 4, 10]

7.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
number = [1, 2, 3, 4, 5]
number.remove(3)
print(number)

[1, 2, 4, 5]

8.Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
number = ['a', 'b', 'c', 'd']
second_element = number[1]
print(second_element)

b

10. Write a code to reverse the list [10, 20, 30, 40, 50]

In [ ]:
number = [10, 20, 30, 40, 50]
reversed_list = number[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [ ]:
a = (10, 20, 30)
print(a)

(10, 20, 30)

In [ ]:
type(a)

tuple

12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [ ]:
a =  ('apple', 'banana', 'cherry')
first_element = a[0]
print(first_element)

apple

13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [ ]:
numeber =  (1, 2, 3, 2, 4, 2)
count = number.count(2)
print(count)

0

14.. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
element = ('dog', 'cat', 'rabbit')
index = element.index("cat")
print(index)

1

15.. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')

In [ ]:
element = ('apple', 'orange', 'banana')
if "banana" in element:
    print("banana is in the tuple")
else:
    print("banana is not in the tuple")

banana is in the tuple

16.. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [ ]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

17.Write a code to add the element 6 to the set {1, 2, 3, 4}:

In [ ]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}